.movies-area {
  grid-area: movies-area;
  min-height: 100vh;
  background: rgb(250, 250, 250);
}

.res-title-area {
  width: 85%;
  margin: 80 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "imdb-res-con udb-res-con"
  // "imdb-results udb-results";
}

.userMoviesContainer {
  margin: 80 0;
}

.imdb-res-con {
  grid-area: imdb-res-con;
}

.udb-res-con {
  grid-area: udb-res-con;
}

.imdb-results-title, .udb-results-title {
  width: auto;
  font-size: 20px;
  margin: 0 0 0 20;
  border: 2px solid #ffd02f;
  display: inline-block;
  &-text {
    width: auto;
    padding: 3 7;
  }
}

.imdb-results {
  grid-area: imdb-results;
  &.loading {
    display: none;
  }
}