.movieContainer {
  display: grid;
  grid-area: movieCon;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "searchCon"
  "posterArea"
  "searchResultsArea"
}

.searchContainer {
  background-color: rgb(243, 243, 243);
  padding: 1% 0 2% 0;
  width: 100%;
  grid-area: searchCon;
}

.posterArea {
  height: 360px;
  background-color: rgb(15, 15, 15);
  grid-area: posterArea;
  position: relative;
}

.searchResultsArea {
  width: 100%;
  grid-area: searchResultsArea;
  display: grid;
  grid-template-columns: "1fr 1fr";
  grid-template-rows: auto;
  grid-template-areas:
  "imdbResCon udbResCon"
}

.userMoviesContainer {
  background: #f3f3f3
}