.movieContainer {
  display: grid;
  grid-area: movieCon;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 45vh 300px auto;
  grid-template-areas:
  "header-area"
  "main-area"
  "poster-area"
  "movies-area"
}

.poster-area {
  padding: 0 5%;
  grid-area: poster-area;
  height: 100%;
  background-color: #fafafa;
  position: relative;
}

// .userMoviesContainer {
//   margin: 20 0;
// }