* {
  margin: 0;
  padding: 0;
}

.appGrid {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: auto;
  grid-template-areas:
  ". siteLogo ."
  ". mainTitle ."
  ". . ."
  ". movieCon ."
}

.siteLogo {
  grid-area: siteLogo;
}

.mainTitle {
  grid-area: mainTitle;
  justify-self: center;
}

.movieContainer {
  grid-area: movieCon;
  display: grid;
  grid-template-columns: "1fr 1fr 1fr 1fr";
  grid-template-rows: auto;
  grid-template-areas:
  "searchBar searchBar searchBar searchBar"
  "imdbResCon imdbResCon udbResCon udbResCon"
}

.searchBar {
  grid-area: searchBar;
  justify-self: center;
}

.imdbResultsContainer {
  grid-area: imdbResCon;
}

.udbResultsContainer {
  grid-area: udbResCon;
}