* {
  margin: 0;
  padding: 0;
}

.appGrid {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "topHeader"
  "movieCon"
}

.topHeader {
  background: rgb(243, 243, 243);
  padding: 1%;
  display: grid;
  grid-area: topHeader;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: auto;
  grid-template-areas:
  "siteLogo mainTitle mainTitle ."
}

.siteLogo {
  grid-area: siteLogo;
}

.mainTitle {
  grid-area: mainTitle;
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
}

.movieContainer {
  display: grid;
  grid-area: movieCon;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "searchCon"
  "posterArea"
  "searchResultsArea"
}

.searchContainer {
  background-color: rgb(243, 243, 243);
  padding: 1% 0 2% 0;
  width: 100%;
  grid-area: searchCon;
}

.posterArea {
  height: 360px;
  background-color: rgb(15, 15, 15);
  grid-area: posterArea;
  position: relative;
}

.searchResultsArea {
  width: 100%;
  grid-area: searchResultsArea;
  display: grid;
  grid-template-columns: "1fr 1fr";
  grid-template-rows: auto;
  grid-template-areas:
  "imdbResCon udbResCon"
}

.searchBar {
  text-align: center;
}

.carouselContainer {
  height: 100%;
  grid-area: carouselCon;
  justify-self: center;
}

.imdbResultsContainer {
  grid-area: imdbResCon;
}

.udbResultsContainer {
  grid-area: udbResCon;
}


.carouselImgContainer {
  height: 300px;
  width: 200px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.carouselImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  width: 20px;
  font-size: 2.5em;
  color: white;
  text-align: center;
}

.arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next, .arrowRight {
  right: 0;
  display: inline-block;
}

.prev, .arrowLeft {
  left: 0;
  display: inline-block;
}

textarea {
  resize: none;
}

.imdbDelbutton {
  display: none;
}

.searchForm, .searchButton {
  display: inline-block;
  padding: 1px;
}

.searchForm {
  padding: 0 5px;
}

.movieTitle {
  height: 25px;
  width: 200px;
  vertical-align: middle;
  padding: 0 5px;
}
.searchButton {
  cursor: pointer;
  height: 25px;
  width: 50px;
  border-radius: 6px;
  vertical-align: middle;
}

#userComment {
  width: 400px;
  height: 240px;
}

.archEntry .field {
  display: inline-block;
}

.posterContainer, .fieldContainer {
  display: inline-block;
  vertical-align: text-top;
}

.posterContainer {
  grid-area: posterContainer;
  position: relative;
  left: 15px;
  padding: 15 0;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

.fieldContainer{
  grid-area: fieldContainer;
  position: relative;
  line-height: 1.2em;
  font-size: 14px;
  width: 93%;
  padding: 15 0;
  /* height: 80%; */
  /* top: 50%;
  transform: translateY(-50%); */
}

.archEntryContainer {
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  position: relative;
  height: 200px;
  -moz-transition: height 500ms;
  -ms-transition: height 500ms;
  -o-transition: height 500ms;
  -webkit-transition: height 500ms;
  transition: max-height 500ms;
  margin: 30 30 30 0;
  background: rgba(15, 15, 15, 0.7);
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "posterContainer fieldContainer";
}

.userCommentContainer{
    overflow: hidden; /* <-------this */
    position: relative;
    max-height: 7em; /* <------this */
    text-align: left;
}
/*
.userCommentContainer:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.userCommentContainer:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
} */