* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.appGrid {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "Header"
  "movieCon"
}