* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.base-page {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: grid;
  grid-area: movieCon;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 90vh auto;
  grid-template-areas:
  "header-area"
  "main-view-container"
  "movies-area"
  "footer-area"
}