.imdb-res-con {
  grid-area: imdb-res-con;
}

.imdb-results-title {
  width: auto;
  font-size: 20px;
  margin: 0 0 0 20;
  border: 2px solid #ffd02f;
  display: inline-block;
  &-text {
    width: auto;
    padding: 3 7;
  }
}