.imdbResultsContainer {
  grid-area: imdbResCon;
}

.imdb-results-title {
  width: auto;
  font-size: 20px;
  margin: 20 0;
  border: 2px solid #ffd02f;
  display: inline-block;
  &-text {
    width: auto;
    padding: 5 10;
  }
}