.archEntry .field {
  display: inline-block;
}

.posterContainer, .fieldContainer {
  display: inline-block;
  vertical-align: text-top;
}

.posterContainer {
  grid-area: posterContainer;
  position: relative;
  left: 15px;
  padding: 15 0;
}

.fieldContainer{
  grid-area: fieldContainer;
  position: relative;
  line-height: 1.2em;
  font-size: 14px;
  width: 95%;
  padding: 15 0;
}

.archEntryContainer {
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  position: relative;
  height: 200px;
  margin: 30 30 30 0;
  border-radius: 5px;
  background: white;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "posterContainer fieldContainer";
  &:hover {
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.5);
  }
}

.userCommentContainer{
    overflow: hidden;
    position: relative;
    max-height: 7em;
    text-align: left;
}

.archDelButton, .archEditButton{
  margin: 5px;
  position: absolute;
  top: 10;
}

.archEditButtonContainer, .archDelButtonContainer {
  &:hover {
    cursor: pointer;
  }
}

.archEditButton {
  right: 20;
}

.archDelButton {
  right: 0;
}

div svg:hover {
  fill: rgb(101, 101, 101);
}

.fa-trash-alt, .fa-edit {
  path {
    fill:inherit
  }
}