.fromImdb {
  &.movie-card-del-button {
    display: none;
  }
  &.del-button {
    display: none;
  }
}

.fromUdb {
  &.other-reviews-button {
    display: none;
  }
  &.add-button {
    display: none;
  }
}

textarea {
  resize: none;
  overflow-y: scroll
}

.movie-card-poster {
  width: 110px;
}

.movie-card-container {
  display: grid;
  margin: 10px;
  grid-template-columns: 125px 1fr;
  grid-template-areas:
  "movie-card-poster movie-card-info-con";
  padding: 10px;
  background: white;
  min-height: 100;
  box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.05);
  &:hover {
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.2);
  }
}

.movie-card-title {
  border: 2px solid #ffd030;
  display: inline-block;
  margin: 0 50 0 0;
}

.movie-card-poster {
  grid-area: movie-card-poster;
}

.movie-card-info-con {
  font-size: 14px;
  grid-area: movie-card-info-con;
  position: relative;
}

.movie-card-info {
  display: inline-block;
}

.movie-card-button-area {
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.movie-card-button {
  background: #8ea5f1;
  display: inline-block;
  border-radius: 3px;
  color: white;
  position: relative;
  margin: 0 8;
  cursor: pointer;
  &-text {
    display: inline-block;
    padding: 5 10;
  }
  &:hover {
    transition: all 0.3s;
    background: #6887ec;
  }
  &.del-button {
    background: #e28181;
    &:hover {
      background: #cf5a5a
    }
  }
}

.other-reviews-button {
  background: #8ee281;
  &:hover {
    background: #67c859
  }
}