.carouselContainer {
  height: 100%;
  grid-area: carouselCon;
  justify-self: center;
}

.carouselImgContainer {
  height: 240px;
  width: 160px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.carouselImg {
  margin: -2px;
  border: 2px solid #e4bf00;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  width: 20px;
  font-size: 2.5em;
  color: white;
  text-align: center;
}

.arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next, .arrowRight {
  right: 0;
  display: inline-block;
}

.prev, .arrowLeft {
  left: 0;
  display: inline-block;
}