.search-bar {
  display: flex;
  width: 54%;
  margin: 0 auto;
  transition: width 0.3s;
}

.search-form {
  display: table !important;
  width: 100%;
  box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.15);
}

.search-title-field {
  display: table-cell;
  height: 45;
  width: 100%;
  vertical-align: middle;
  padding: 1 10px 0;
  font-size: 1em;
  border-color: transparent;
}

.search-button {
  display: table-cell;
  margin: 3 4 0;
  font-weight: 400;
  color: white;
  font-size: 14;
  cursor: pointer;
  height: 39px;
  width: 70px;
  border-radius: 6px;
  border-color: white;
  background: #ffd030;
  vertical-align: middle;
}

.dock .search-bar {
  z-index: 50;
  position: fixed;
  width: 100%;
}